@import "bourbon/css3/animation";

// .CodeMirror {
//   height: 450px;
// }
body {
  background-color: #f9f9f7;
}

/* editor wrapper */
.lab-container {
  width: 800px;
  // padding: 10px;
  // margin: 10px auto;
}
.coffee-editor-container {
  float: left;
  width: 450px;
}

.jade-editor-container {
  float: left;
  width: 450px;
}

.preview {
  width: 400px;
  float: left;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

