body {
  background-color: #f9f9f7; }

/* editor wrapper */
.lab-container {
  width: 800px; }

.coffee-editor-container {
  float: left;
  width: 450px; }

.jade-editor-container {
  float: left;
  width: 450px; }

.preview {
  width: 400px;
  float: left; }

.CodeMirror {
  border: 1px solid #eee;
  height: auto; }

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto; }
